<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.riderfoodsurfing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".AcitivityCompletedOrders"
            android:exported="true" />
        <activity
            android:name=".ActivityActiveOrders"
            android:exported="true" />
        <activity
            android:name=".ActivityRiderEarning"
            android:exported="true" />
        <activity
            android:name=".ActivityRiderAddress"
            android:exported="true" />
        <activity
            android:name=".ActivityPrivacyPolicy"
            android:exported="true" />
        <activity
            android:name=".ActivityCheckActiveRequest"
            android:exported="true" />
        <activity
            android:name=".ActivityPutOtp"
            android:exported="true" />
        <activity
            android:name=".ActivityVerfiyEmail"
            android:exported="true" />
        <activity
            android:name=".ActivitySignup"
            android:exported="true" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true" />
        <activity
            android:name=".navigationDrawer"
            android:exported="true" />
        <activity android:name=".ActivityRequest" />
        <activity android:name=".ActivityLiveTrackig" />
        <activity android:name=".ActivitySetting" />
        <activity android:name=".ActivitySplashScreen2" />
        <activity android:name=".splashScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>